div#listaSin ul {
    list-style: none;
}

div#circleList ul {
    list-style: circle;
}

div#squareList ul {
    list-style-type: square;
}

div#romanList ol {
    list-style-type: lower-roman;
}

div#gregList ol {
    list-style-type: georgian;
}